---
- name: 'Installer le package python3-jmespath'
  ansible.builtin.package:
    name: python3-jmespath
    state: present
  become: true

- name: 'Extraire git_packages depuis corp_mirror_git si défini'
  ansible.builtin.set_fact:
    git_packages: "{{ corp_mirror_git.git_packages }}"
  when: corp_mirror_git is defined and corp_mirror_git.git_packages is defined

- name: 'Download and manage each Git package'
  ansible.builtin.include_tasks: "providers/{{ item.source.provider }}.yml"
  loop: "{{ git_packages | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.source is defined
    - item.source.provider is defined
    - item.source.enabled | default(true)
